* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

.ShowContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* min-height: calc(100vh - 60px); */
    min-height: 100vh;
    /* min-height: 100vh; */
    justify-content: space-around;
    /* margin-top: 60px; */
    margin-top: 100px;
    /* this sets height for every note independently (2 aside by side)  */
    align-items: flex-start;
}

.Note1 {
    background-color: #403d98;
    width: 70%;
    height: auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 3px;
    /* flex-basis: content; */

    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
 	            2px 2px 6px rgba(0,0,0,0.8),
  	            inset -2px -2px 10px rgba(255, 255, 255, 0.05),
                inset 2px 2px 10px rgba(0,0,0,0.5);

}

.DivAuthor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    color: #dfe58d;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.DivAuthor h4, .DivAuthor p{
    margin: 0 6%;
    padding: 0;
}

.DivAuthor h4 {
    font-size: 26px;
}

.DivAuthor p {
    font-size: 18px;
}


.PNote {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    padding: 30px 20px 40px;
    line-height: 1.5;
    width: 88%;
    min-height: 100px;
    height: auto;
    font-family: 'Roboto', sans-serif;
    overflow-wrap: break-word;
}

.DivBtns {
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.DivBtns button {
    font-size: 16px;
    font-weight: bold;
    padding: 6px 10px;
    margin: 0 22px;
    border-radius: 3px;
    cursor: pointer;
    /* background-color: #d1d959; */
    background-color: #403d98;
    /* color: #2E2C6D; */
    color: #d1d959;
    
    letter-spacing: 0.5px;
    border: none;
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
 	            2px 2px 6px rgba(0,0,0,0.8),
  	            inset -2px -2px 10px rgba(255, 255, 255, 0.05),
                inset 2px 2px 10px rgba(0,0,0,0.5);
}

.DivBtns button:last-of-type {
    margin: 0;
}

.I {
    margin-right: 5px;
}
/* 
.Note2 {
    background-color: crimson;
    width: 42%;
    height: 300px;
    margin-bottom: 30px;
}

.Note3 {
    background-color: darkblue;
    width: 42%;
    height: 300px;
    margin-bottom: 30px;
}

.Note4 {
    background-color: lawngreen;
    width: 42%;
    height: 300px;
    margin-bottom: 30px;
}

.Note5 {
    background-color: lightcoral;
    width: 40%;
    height: 300px;
    margin-bottom: 30px;
} */

@media (max-width: 768px) {

    
    .Note1 {
        width: 90%;
    }

}

@media (max-width: 500px) {

    .ShowContainer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        /* min-height: calc(100vh - 60px); */
        min-height: calc(100vh - 280px);
        /* min-height: 100vh; */
        justify-content: space-around;
        /* margin-top: 60px; */
        margin-top: 160px;
        /* this sets height for every note independently (2 aside by side)  */
        align-items: flex-start;
    }

    .PNote {
        padding: 12px 8px 18px;
    }
}